.joystick-container {
    margin: auto;
    max-height: 250px;
    max-width: 300px;
}

@media(max-width: 767px) {
    .joystick-container {
        height: 9.5rem;
        width: 8.5rem;
    }
}

@media(min-width: 767px) {
    .joystick-container {
        height: 13rem;
        width: 15rem;
    }
}

.btn-up {
    left: calc( 50% - 20px );
    top: 10px;
}

@media (max-width: 767px) {
    .btn-up {
        left: calc(50% - 0.5rem);
        top: 1rem;
    }
}

.btn-down {
    left: calc( 50% - 20px );
    top: calc( 100% - 60px );
}

@media (max-width: 767px) {
    .btn-down {
        left: calc(50% - 0.5rem);
        top: calc( 100% - 2rem );
    }
}

.btn-left {
    top: calc( 50% - 30px );
    left: 20px;
}


@media (max-width: 767px) {
    .btn-left {
        left: calc( 0.5rem );
        top: calc( 50% - 0.5rem );
    }
}

.btn-right {
    top: calc( 50% - 30px );
    right: 20px;
}


@media (max-width: 767px) {
    .btn-right {
        right: 0.5rem;
        top: calc( 50% - 0.5rem );
    }
}

.joystick-background {
    background: #191b1d;
    background: linear-gradient( #191b1d 0%, #212527 100%);
    position: relative;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 0 1px 2px rgba(255,255,255,.1);
}
