.move-btn {
  box-shadow: 0 -5px 5px rgba(255, 255, 255, 0.15),
    /* Highlight */ 0 0 0 5px #1c1e1f, /* Inner shadow */ 0 0 0 8px #000,
    /* Hole */ 0 20px 20px 5px rgba(0, 0, 0, 0.5),
    /* Shadow */ 0 5px 5px 8px rgba(40, 45, 47, 1),
    /* Border highlight */ 0 0 0 13px #1a1c1e,
    /* Border */ 0 1px 1px 12px rgba(255, 255, 255, 0.5);
}

.joystick-container {
    margin: auto;
    height: 250px;
    width: 300px;
}

.btn-up {
    left: calc( 50% - 20px );
    top: 10px;
}

.btn-down {
    left: calc( 50% - 20px );
    top: calc( 100% - 60px );
}

.btn-left {
    top: calc( 50% - 30px );
    left: 20px;
}

.btn-right {
    top: calc( 50% - 30px );
    right: 20px;
}

.joystick-background {
    background: #191b1d;
    background: linear-gradient( #191b1d 0%, #212527 100%);
    position: relative;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 0 1px 2px rgba(255,255,255,.1);
}
