.btn {
  border: none;
  background: #efd887;
  color: #c84e41;
  border-radius: 10px;
  font-family: "BUBBLEGUM SANS";
  padding: 12px 20px;
  font-size: 2.5rem;
  cursor: pointer;
  width: fit-content;
}

.btn:disabled {
  background-color: #888888;
  color: #bababa !important;
}

.btn:hover {
  background: var(--flax);
}

.btn:disabled:hover {
  background-color: #888888;
  color: #bababa !important;
  cursor: not-allowed;
}

