:root {
  font-size: 1vw;
  --white: #ffffff;
  --bermuda-gray: #668AA7;
  --vista-blue: #9CCFAD;
  --spring-rain:  #9FD0AF;
  --crail: #C15143;
  --mojo: #C84E41;
  --flax: #EED688;
  --tango: #EF732D;
  --burnt-sienna: #EF7350;
  --flax-shade: #EFD887;
  --sprint-rain-60: #9fd0b0;
}

body {
  margin: 0;
  font-family: 'Bubblegum Sans', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1vw;
  background-color: var(--sprint-rain-60);
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
